.dashboard {
    
    .dashboard_title {
        font-weight: bold;
        margin:1em;
  
        letter-spacing: 3px;
        
    ;
    }
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    .cards {
        display: flex;
        flex-direction: column;

        .card {
            transition: 0.2s all;
    
            margin:0.5em;
            h1 {
                font-weight: bold;
                background: #000000;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #434343, #000000);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #434343, #000000);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        @media (min-width:1024px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            flex-wrap: wrap;
    
            .card {
         
                width: 30%;
                margin: 1em;
                height: 400px;

                h1 {
                    font-size: 2em;
                }
                p {
                    font-size: 1.2em;
                    font-weight: bold;
                }    
       
                .img-container {
                    height: 50%;
                }
                
                button {
                    margin: 0 20%;
                    padding: 0.5em;
                    width: 200px;
                    text-transform: uppercase;
                }
          
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain
                }
            }
        }
        }

        .card:hover {
            background-color: #E0E0E0;

        }
}  