header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
    .options_menu {
        display: flex;
        margin:0.5em;
        align-items: center;

 
    }


    svg {
        margin:0.5em;
        cursor: pointer;
    }


    h1 {

        color: black;
        background: #000000;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #434343, #000000);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #434343, #000000);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        margin: 1em;
        letter-spacing: 0px;
        font-size:1.6em;

        @media (min-width:1024px){
            font-size:2.8em;
        }
    }
}